<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse ba-sm-dark" id="navbarSupportedContent">
			<form class="d-sm-inline-block form-inline mr-auto ml-lg-3 my-2 my-md-0 mw-100 navbar-search" method="get" action="/search">
				<div class="input-group">
					<input type="text" class="form-control bg-light small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name="search"/>
					<div class="input-group-append">
						<button class="btn bg-light border-start-0" type="submit">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>
				</div>
			</form>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-lg-white" href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-lg-white" href="/order">
						<span class="m-cart badge badge-pill badge-danger position-absolute" id="orderCount">
							{{#if orderCount}}
								{{formatCount orderCount}}
							{{else}}
								0
							{{/if}}
						</span>
					<i class="fas fa-fw fa-file"></i> Đơn Hàng</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-lg-white" href="/cart">
						<span class="m-cart badge badge-pill badge-danger position-absolute" id="cartCount">
							{{#if cartCount}}
								{{formatCount cartCount}}
							{{else}}
								0
							{{/if}}
						</span>
						<i class="fas fa-fw fa-shopping-cart"></i> Giỏ Hàng</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				{{#if sessionUser}}
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="img-profile rounded-circle" src="/img/undraw_profile.svg" />
							<span class="mr-2 d-sm-inline text-gray-600 small">{{sessionUser}}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								Profile
							</a>
							<a class="dropdown-item" href="/logout">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Logout
							</a>
						</div>
					</li>
				{{else}}
					<li class="nav-item">
					<a class="nav-link text-lg-white" href="/login">Login</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-lg-white" href="/register">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>
{{> profile}}